.h1 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p.tagline {
    /* gray color and italic */
    color: #999;
    font-style: italic;
    font-size: 14px;
    /* under the h1, do not center */
    text-align: left;
    margin: 0;
    padding: 0;

}
p {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}
a.website {
    color: #dcd615;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}